{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}
{% set userId = craft.app.request.getBodyParam('therapistID') %}
{% set therapist = craft.users()
  .group('counsellors')
  .id(userId).one() %}
<main>
    <section class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center ">
        <div class="col-lg-6 col-md-8  py-xl-0">
          <!-- Card -->
          <div class="crd sha dow">
            <!-- Card body -->
            <div class="card-body p-6 d-flex flex-column justify-content-center">
              <div class="flex-column justify-content-center">
                <div class="d-flex flex-column align-items-center mb-3">
                  <div class="p-2"><h1 class="mb-0 fw-bold">Send your enquiry</h1></div>
                  
                  </div>
              </div>

              <!-- Form -->
{# Macro to help output errors: #}
{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, { class: 'errors' }) }}
    {% endif %}
{% endmacro %}

{# Default value for the `entry` variable: #}
{% set entry = entry ?? null %}

<form method="post" action="" class="needs-validation " novalidate="" accept-charset="UTF-8">
  {{userId}}
    {# Hidden inputs required for the form to work: #}
    {{ csrfInput() }}
    {{ actionInput('guest-entries/save') }}
    {{ hiddenInput('fields[therapistID][]', userId) }}  
    {# Section for new entries: #}
    {{ hiddenInput('sectionUid', 'e6ff9992-97aa-4cd6-b9ea-5743266547cb') }}

    {# Custom redirect URI: #}
    {{ redirectInput('enquiry-submitted/{uid}') }}

    

    {# Entry properties and custom fields: #}
    <!-- Input -->
    <div class="mb-5">
      <label class="form-label" for="title">Title</label>
      {{ input('text', 'title', entry ? entry.title, { id: 'title', class:'form-control',placeholder:'Your full name',required:'required' }) }}
      {{ entry ? _self.errorList(entry.getErrors('title')) }}
    </div>
    <div class="mb-5">
      <label class="form-label" for="phone">Your phone number</label>
      {{ input('text', 'fields[phoneNumber]', entry ? entry.phoneNumber, { id: 'phone', class:'form-control',placeholder:'Add a number you can be called on',required:'required'  }) }}
      {{ entry ? _self.errorList(entry.getErrors('phone')) }}
    </div>
    <div class="mb-5">
      <label class="form-label" for="email">Your contact email</label>
      {{ tag('input', {
        email: entry ? entry.email,
        id: 'email',
        class:'form-control',
        required:'required',
        name: 'fields[email]',
        type: 'email'
    }) }}
    {{ entry ? _self.errorList(entry.getErrors('email')) }}

    </div>
    <!-- radio-->
    <div class="mb-5">
      
      {% set field = craft.app.fields.getFieldByHandle('contactPreference') %}
      <label class="form-label">{{field.instructions}} </label>

      
        {% for option in field.options %}    
        
          <div class="form-check">
            <input class="form-check-input" type="radio" name="fields[contactPreference]" required value="{{ option.value }}" id="contact{{option.value}}">
            <label for="contact{{option.value}}" class="form-check-label">{{ option.label }}</label>
          </div>
      {% endfor %}
      </div>
  
    <div class="mb-3">
      <label class="form-label" for="body">Enquiry message</label>
      {{ tag('textarea', {
        text: entry ? entry.body,
        id: 'body',
        class:'form-control',
        rows: '5',
        required:'required',
        name: 'fields[body]',
    }) }}
    {{ entry ? _self.errorList(entry.getErrors('body')) }}

    </div>
    
   
    {# ... #}

    <button class="btn btn-primary text-center mx-auto d-flex " type="submit">SUBMIT</button>
</form>
             

            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>
{% endblock content %}