
{% extends "_layouts/chromeless-page-layout.twig" %}


{% block content %}

<main>
    <section class="container d-flex flex-column vh-100">
      <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
          <!-- Card -->
          <div class="card shadow">
            <!-- Card body -->
            <div class="card-body p-6 d-flex flex-column gap-4">
              <div>
                <a href="../index.html"><img src="../assets/images/brand/logo/logo.svg" width="150px" class="mb-4" alt="logo"></a>
                <div class="d-flex flex-column gap-1">
                  <h1 class="mb-0 fw-bold">Sign in</h1>
                  <span>
                    Already have an account?
                    <a href="sign-up" class="ms-1">Sign up</a>
                  </span>
                </div>
              </div>
              <!-- Form -->
              
                <form method="post" accept-charset="UTF-8" class="needs-validation" novalidate="">
                  {{ csrfInput() }}
                  {{ actionInput('users/login') }}
                  {{ redirectInput('profile') }}
                <!-- Username -->
                <div class="mb-3">

                  <label for="loginName" class="form-label">Username or email</label>
                  {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    class: 'form-control',
                    autocomplete: 'username',
                    required: ''
                  }) }}
                  <div class="invalid-feedback">Please enter valid username.</div>
                </div>
                <!-- Email -->
              
                <!-- Password -->
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  {{ input('password', 'password', null, {
                    id: 'password',
                    class: 'form-control',
                    required: ''
                  }) }}
                  <div class="invalid-feedback">Please enter valid password.</div>
                </div>
                <!-- rememebr me -->
                {# <div class="mb-3">
                <label>
                  {{ input('checkbox', 'rememberMe', '1', {
                    class: 'form-check-input',
                  }) }}
                  Remember me
                </label>
              </div> #}
                <!-- Checkbox -->
                <div class="d-lg-flex justify-content-between align-items-center mb-4">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" value="1" required="">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                  </div>
                  <div>
                    <a href="{{ url('reset-password') }}">Forgot your password?</a>
                  </div>
                </div>
                <div>
                  <!-- Button -->
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
                </div>
                {% if errorMessage is defined %}
                <p class="errors">{{ errorMessage }}</p>
              {% endif %}
                <hr class="my-4">
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="position-absolute bottom-0 m-4">
      <div class="dropdown">
        <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
          <i class="bi theme-icon-active"><i class="bi theme-icon bi-sun-fill"></i></i>
          <span class="visually-hidden bs-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
              <i class="bi theme-icon bi-sun-fill"></i>
              <span class="ms-2">Light</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
              <i class="bi theme-icon bi-moon-stars-fill"></i>
              <span class="ms-2">Dark</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
              <i class="bi theme-icon bi-circle-half"></i>
              <span class="ms-2">Auto</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </main>
</main>
{% endblock content %}