<!--usercard1-->
<div class="col-xxl-3 col-xl-3 col-md-4 col-sm-6 col-12 d-sm-flex align-items-stretch">

    <!--card-->
    <div class="card rounded-4 card-bordered card-lift">
      <div class="p-3 d-flex flex-column gap-3 flex-grow-1">
        <!--img-->
        <a href="{{ alias('@baseUrl') }}/counsellors/{{user.username|kebab}}/{{user.id}}">
          <img src="{{ user.photo.url('profileMedium') }}" alt="{{ user.fullName }}"
            class="img-fluid w-100 rounded-4" loading="lazy" />
        </a>
        <!--content-->
        <div class="d-flex flex-column gap-4 flex-grow-1 ">
          <div class="d-flex flex-column gap-2">
            <div>
              <div class="d-flex align-items-center gap-2">
                <h3 class="mb-0">
                  <a href="{{ alias('@baseUrl') }}/counsellors/{{user.username|kebab}}/{{user.id}}"
                    class="text-reset">{{ user.fullName }}</a>
                </h3>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-patch-check-fill text-success" viewBox="0 0 16 16">
                    <path
                      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                  </svg>
                </span>
              </div>
              <span class="text-gray-800">{{ user.titleRole|default("Job title goes here")  }}</span>
            </div>
          </div>
          <div class="d-flex  mt-auto justify-content-around">
     
            <a href="{{ alias('@baseUrl') }}/counsellors/{{user.username|kebab}}/{{user.id}}" class="btn btn-outline-primary mx-auto w-100 mt-auto" 
              >View profile</a>
          </div>

        </div>
      </div>
    </div>
</div>